transformers
peft
accelerate
bitsandbytes
datasets
einops
timm
sentencepiece
huggingface_hub
tokenizers

# Evaluation
rouge-score
nltk
pycocotools
bert-score
sacrebleu

# Monitoring
tensorboard
tqdm

# Image processing
Pillow
opencv-python-headless
rasterio
numpy
scipy

# Utilities
pyyaml
jsonlines
pandas
matplotlib
